@using WeightLossSystem.WebUI.Models
@using WeightLossSystem.WebUI.Helpers
@model WeightLossSystem.WebUI.Models.DatasForView.SportCategoryViewModel<SportSupplementViewModel>
@{
    ViewBag.Title = "DisplaySportSuplement";
}
    
    <main class="container">
        <section><div style="height:100px;"></div></section>
        @Html.Action("Menu", "Menu")
        <br />
        <br />

        @foreach (var item in Model.SportSuplements)
        {
            <h2 class="post-title">@Html.DisplayFor(x => item.Name)<br /></h2>
            <hr />
            <h3 class="post-subtitle">
                @Html.DisplayFor(x => item.Description)
            </h3>
            <br />
            <h4 class="post-subtitle">@Html.DisplayFor(x => item.Price) $</h4>
            <p class="post-meta">Posted by @item.Date.ToString().Split(' ')[0].ToString() </p>
            <hr />

            <a class="btn btn-primary" href="~/Cart/AddToCart/@item.SportSupplementId">Add to Cart</a>
            <br/>
        }
        <div style="height: 100px;"></div>
        <div class="btn-group">
            @Html.PageLinks(Model.info, x => Url.Action("DisplaySportSuplement", new { page = x }))
        </div>

    </main>